@model CRUDNativo.Models.Venta

<h2>Crear Venta</h2>
<form method="post" asp-action="Create">
    @Html.AntiForgeryToken()

    <div>
        <label asp-for="Fecha"></label>
        <input asp-for="Fecha" class="form-control" type="date" />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>

    <div>
        <label>Cliente</label>
        <select asp-for="ClienteId" class="form-control" asp-items="@(new SelectList(ViewBag.Clientes, "ClienteId", "Nombre"))"></select>
        <span asp-validation-for="ClienteId" class="text-danger"></span>
    </div>

    <div>
        <label>Producto</label>
        <select asp-for="ProductoId" class="form-control" asp-items="@(new SelectList(ViewBag.Productos, "ProductoId", "Nombre"))"></select>
        <span asp-validation-for="ProductoId" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Registrar venta" class="btn btn-primary" />
    </div>
</form>
