@model CRUDNativo.Models.Venta

<h2>Eliminar Venta</h2>
<form method="post" asp-action="Delete">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="VentaId" />

    <div>
        <label asp-for="Fecha"></label>
        <input asp-for="Fecha" class="form-control" readonly />
    </div>

    <div>
        <label>Cliente</label>
        <input class="form-control" value="@Model.Cliente?.Nombre" readonly />
    </div>

    <div>
        <label>Producto</label>
        <input class="form-control" value="@Model.Producto?.Nombre" readonly />
    </div>

    <div>
        <input type="submit" value="Eliminar venta" class="btn btn-danger" />
    </div>
</form>
